body{
	background-color: tomato;
}


#one{
	display: flex;
	background-color: firebrick;
	border-radius: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	margin: 10px;
}

#two{
	background-color: peru;
	border-radius: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

#three{
	background-color: rosybrown;
	border-radius: 20px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	text-align: center;
	width: 300px;
	margin:auto;
}

#img1{
	height: 250px;
	width: 250px;
	border-radius: 50%;
}

#img-2{
	height: 250px;
	width: 250px;
	border-radius: 50%;
	float: right;
}

#img-3{
	height: 250px;
	width: 250px;
	border-radius: 50%;
}

.p-1{
	font-style: unset;
	font-size: 20px;
}
